<div id="resources">
<p id="notice"><%= notice %></p>
<h1>Skills</h1>
  <div class="row">
    <div class="col-xs-2">Skill Name</div>
    <div class="col-xs-2">Skill Type</div>
  </div>
  <% @skills.each do |skill| %>
    <div class="row">
      <div class="col-xs-2"><%= skill.skillName %></div>
      <div class="col-xs-7"><%= skill.skill_group.skillType%></div>
      <div class="col-xs-1"><%= link_to 'Show', skill %></div>
      <div class="col-xs-1"><%= link_to 'Edit', edit_skill_path(skill) %></div>
      <div class="col-xs-1"><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  <% end %>
  <br>

<%= link_to 'New Skill', new_skill_path %>
</div>