<div id="resources">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @project.projectName %>
  </p>
  <p>
    <strong> Client:</strong>
    <%= @project.client %>
  </p>
  <p>
    <strong>Start Date:</strong>
    <%= @project.projectStartDate %>
  </p>

  <p>
    <strong> End Date:</strong>
    <%= @project.projectEndDate %>
  </p>

  <p>
    <strong>Info:</strong>
    <%= simple_format(@project.projectInfo) %>
  </p>

  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
</div>