<div id="resume">
    <h3>Summary</h3>
    <hr/>
    <%@summaries.each do |summary|%>
        <%if summary.enabled%>
            <%= simple_format(summary.summaryText)%>
        <%end%>
    <%end%>
    <h3>Technical Skills</h3>
    <hr/>
    <%@skillGroups.each do |skillGroup| %>
        <div id="<%="skillGroup_"+skillGroup.skillType.camelcase%>">
        <b><%=skillGroup.skillType.to_s+": "%></b>
        <%=skillGroup.skills.map{|skill| skill.skillName}.join(", ")%>
    <%end%>
    <h3>Projects</h3>
    <hr/>
    <%@projects.each do |project|%>
    <div class="row">
    <div class="col-xs-9"><h4><%=project.projectName%></h4><h5><%=project.client%></h6></div>
    <div class="col-xs-3"><h5><%=project.projectStartDate.strftime("%Y/%m")+" - "%>
        <%if project.current%>
            Current
        <%else%>
            <%=project.projectEndDate.strftime("%Y/%m/%d")%>%
        <%end%>
    </h5></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <%=simple_format(project.projectInfo)%>
        </div>
    </div>
    <%end%>
    <h3>Education</h3>
    <hr/>
        <%@educations.each do |education|%>
            <%if education.enabled%>
                <div class="row">
                    <div class="col-xs-9">
                        <h4><%=education.name%><h4>
                    </div>
                    <div class="col xs-3">
                        <h5>
                        <%=education.startDate.strftime("%Y/%m")+" - "+education.endDate.strftime("%Y/%m")%>
                        <%if education.incomplete%>
                            (incomplete)
                        <%end%>
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12"><%=education.paperEarned%></div>
                </div>
            <%end%>
        <%end%>
</div>
