<p id="notice"><%= notice %></p>

<h1>Educations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Incomplete</th>
      <th>Enabled</th>
      <th>Paperearned</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @educations.each do |education| %>
      <tr>
        <td><%= education.name %></td>
        <td><%= education.startDate %></td>
        <td><%= education.endDate %></td>
        <td><%= education.incomplete %></td>
        <td><%= education.enabled %></td>
        <td><%= education.paperEarned %></td>
        <td><%= link_to 'Show', education %></td>
        <td><%= link_to 'Edit', edit_education_path(education) %></td>
        <td><%= link_to 'Destroy', education, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Education', new_education_path %>
