<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @education.name %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @education.startDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @education.endDate %>
</p>

<p>
  <strong>Incomplete:</strong>
  <%= @education.incomplete %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @education.enabled %>
</p>

<p>
  <strong>Paperearned:</strong>
  <%= @education.paperEarned %>
</p>

<%= link_to 'Edit', edit_education_path(@education) %> |
<%= link_to 'Back', educations_path %>
