<!DOCTYPE html>
<html>
  <head>
    <title>RigelPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-container" class="container">
      <div class="row">
        <nav id="sidebar" class="col-xs-3">
          <%=image_tag "https://www.gravatar.com/avatar/116971880f7b77a795f8134444d8845a?size=1024",:style =>"width:100%;"%>
          <ul class="list-group">
            <!--Should probably come up with some clever code here to automaticly select which side bar item is currently selected ...-->
            <li class="list-group-item">
              <%=link_to "Home",root_path%>
            </li>
            <li class="list-group-item">
              <%=link_to "https://github.com/rigel-eva" do%>
              GitHub
              <%end%>
            </li>
            <li class="list-group-item">
              <%=link_to "Blogosphere","https://rigel.moe"%>
              <span class="badge badge-primary badge-pill"><%= @wordpressPosts=JSON.parse(RestClient.get(URI::encode("https://public-api.wordpress.com/rest/v1.1/sites/rigelmoe.wordpress.com/posts"),:content_type => :json, :accept => :json))["found"]%></span>
            </li>
          </ul>
        </nav>
        <div class="col-xs-9">
          <%=yield%>
        </div>
      </div>
    </div>
  </body>
</html>
