<!DOCTYPE html>
<html>
  <head>
    <title>RigelPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-3"></div>
        <nav id="header_nav" class="col-xs-6">
          <ul class="nav-pills">
            <li class="list-group-item">
              <%=link_to "Home",root_path%>
            </li>
            <li class="list-group-item">
              <%=link_to "https://github.com/rigel-eva" do%>
              GitHub
              <%end%>
            </li>
            <li class="list-group-item">
              <%=link_to "Blogosphere",controller:"wordpress_preview",action:"index"%>
              <span class="badge badge-primary badge-pill"><%= @wordpressPosts=JSON.parse(RestClient.get(URI::encode("https://public-api.wordpress.com/rest/v1.1/sites/rigelmoe.wordpress.com/posts"),:content_type => :json, :accept => :json))["found"]%></span>
            </li>
          </ul>
        </nav>
        <div class="col-xs-3"></div>
      </div>
      <div class="row">
        <div id="content" class="col-xs-12">
          <%=yield%>
        </div>
      </div>
    </div>
  </body>
</html>
