<!DOCTYPE html>
<html>
  <head>
    <title>RigelPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <nav id="header_nav">
          <div class="row">
            <div id="fancyTitle">
              <h1>Nora Maguire</h1>
              <h4>DevOps, Programmer</h5>
            </div>
          </div>
          <div class="row" style="padding:10px;">
              <div class="headerButton">
                <%=link_to "Home",root_path%>
              </div>
              <div class="headerButton">
                <%=link_to "Github",controller:"github",action:"index"%>
              </div>
              <div class="headerButton">
                <%=link_to "Wordpress",controller:"wordpress_preview",action:"index"%>

              </div>
            </div>
        </nav>
        <div class="col-sm-2"></div>
      </div>
      <div class="row">
        <div id="content" class="col-xs-12">
          <%=yield%>
        </div>
      </div>
    </div>
  </body>
</html>
