<!DOCTYPE html>
<html>
  <head>
    <title>RigelPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="wrap">
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <nav id="header_nav">
          <div class="row">
            <div id="fancyTitle">
              <h1>Nora Maguire</h1>
              <h4>DevOps, Programmer</h4>
            </div>
          </div>
          <div class="row">
            <%=link_to "Home",root_path%>
            <%=link_to "Github",controller:"github",action:"index"%>
            <%=link_to "Wordpress",controller:"wordpress_preview",action:"index"%>
            <%=link_to "Contact Me",root_path%>
          </div>
        </nav>
        <div class="col-sm-2"></div>
      </div>
      <div class="row">
        <div id="content" class="col-xs-12">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>">
              <%= value %>
            </div>
          <% end %>
          <%=yield%>
        </div>
      </div>
    </div>
    </div>
    </div>
    </div>
    <footer class="container-fluid">
      <div class="row">
        <div class="col-xs-11">
        HOI!
        </div>
        <div class="col-xs-1">
          <%if !current_user.nil?%>
          <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle" id="loginButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%=image_tag current_user.image_url, alt: current_user.name %>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <%if can? :manage, Summary%>
                <%=link_to "Manage Summary","/summaries"%>
              <%end%>
              <%if can? :manage, Skill%>
                <%=link_to "Manage Skills","/skills"%>
              <%end%>
              <%if can? :manage, SkillGroup%>
                <%=link_to "Manage Skill Groups","/skill_groups"%>
              <%end%>
              <%if can? :manage, Project%>
                <%=link_to "Manage Projects","/projects"%>
              <%end%>
              <%if can? :manage, Education%>
                <%=link_to "Manage Education","/educations"%>
              <%end%>
              <%=link_to 'Log Out', logout_path, method: :delete%>
            </div>
          </div>

          <%else%>
            <div class="btn-group dropup">
              <button type="button" class="btn btn-secondary dropdown-toggle" id="loginButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%=image_tag "login_glyph.png", padding:"20px"%>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <%= link_to 'Twitter','/auth/twitter'%>
                <%= link_to 'Google+', '/auth/google' %>
                <!--Should probably insert some other links ... like github but ¯\_(ツ)_/¯-->
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </footer>
  </body>
</html>
